<h1>Editing prediction</h1>

<%= render 'form' %>

<%= link_to 'Show', @prediction %> |
<%= link_to 'Back', predictions_path %> |
<%= link_to 'Destroy', @prediction, method: :delete, data: { confirm: 'Are you sure?' } %>