/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

.actions {
  margin-top: 20px;
}

/*
#bed-stuy {
  background-image: url("/assets/images/landsdown-street-fenway.jpg");
  vertical-align: middle;
  border: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
*/
html {
  background: url(/assets/images/red-chair.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* bootstrap overrides */
body {
  background: none !important;
}
.bg-info,
.bg-warning {
  padding: 15px;
}
.container {
  /*background-color: #F5F5F5;*/
}
.table,
.col-md-4.col-md-offset-4 {
  background-color: #fcfcfc;
}
